body{
    display: flex;
    background-color: gray;
}


.greet-courses-div{
    background-color: #fff;
    padding-top: 2%;
    padding-bottom: 2%;
}
.greet-name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}
.date-div{
    background-color: #fff;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    align-items: center;

}

.courses-div{
    justify-content: space-between;
}

.timeslots-div{
    padding: 2%;
}

.timeslot{

}

.timeslot-btns{
    display: flex;
    flex-direction: row;
}

.card-body{
    display: flex;
    flex-direction: column;
}