
.courses-pane{
    width: 100vw;
    margin: auto;
    justify-content: center;
}

.course{
    background-color: white;
    margin-left: 1%;
    font-size: 18px;
    border-radius: 8px;
    border-color: rgb(32, 176, 208);
}
