.coursespage{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  padding-left: 8%;
  padding-top: 8%;
  right: 0;
  bottom: 0;
}


.corner-arcs{
  top: 0;
  height: 70px;
  width: 50px;
}

.course-container {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 0px 0px 0px 0px;
  border-radius: 20px;
  margin-bottom: 25px;
  background: #fff;
  line-height: 50px;
  font-size: 14px;
}

/* .course-container:hover{
  width: 1.1;
  transition: all(2s);
} */
  
.course-title {
  /* background: url("../../assets/images/bckgrnd.png"); */
  background-color: rgb(163, 214, 227);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 100px;
  font-size: 18px;
}

.course-img{
  height: 50px;
  width: 100%;
}
button{
    margin: auto;
}


@media screen and (max-width: 600px) {
  .coursespage{

      width: unset;
      margin-top: 15%;
      margin-left: unset;
  }

  .courses-container{
    margin-bottom: 18%;
  }

  .course-container{
    padding: 0px 25px 25px 25px;
    line-height: 10px;
  }

  .corner-arcs{
    top: 0;
    height: 50px;
    width: 20px;
  }

  
}