.homepage{
    display: flex;
    overflow: hidden;
    background-color: white;
}

.topbar{
    width: 100vw;
    height: 8%;
    display: flex;
    position: fixed;
    background-color: white;
}
.next-logo-div{
    height: 60px;
    margin-left: 5px;
    margin-top: 5px;
}
.next-logo{
    height: 60px;
}

.notification{
    margin-right: 0;
    position: fixed;
    top: 1%;
    right: 4%;
}

.sidebar{
    background: none;
    width: 10%;
    height: 100vh;
    top: 0;
    padding-left: 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    justify-content: center;
}

.icons{
    display: flex;
    align-items: flex-start;
}

.sidebar-item{
    width: 40px;
    padding-left: 0;
}

.sidebar-icon{
    border-radius: 50%;
}

.sidebar-icon:hover{
    box-shadow: 2px 2px 5px 2px rgb(175, 171, 171);

}

ul {
    padding-left: 0;
}

li {
    padding: 0;
    margin: 20px 0;
    list-style: none;
}

.toppage{
    margin-top: 8%;
    justify-content: center;
}
